header {
  padding: 5px;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  background-color: rgb(23, 83, 50);
  width: 100%;
  margin-bottom: 50px;
  color: white;
}

table {
  margin-left: 200px;
  border-radius: 10px;
  border: 30px solid;
  border-color: rgb(23, 83, 50);
  width: 40%;
  height: 500px;
  float: left;
}

.box_color1 {
  background-color: azure;
  text-align: center;
  font-family: "Lucida Sans Unicode";
  font-size: 300%;
}

.box_color2 {
  background-color: rgb(47, 143, 103);
  text-align: center;
  font-family: "Lucida Sans Unicode";
  font-size: 300%;
}

h2 {
  padding: 5px;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 50px;
  color: rgb(23, 83, 50);
  float: right;
  margin-right: 10%;
  text-align: left;
}

#question-btn-1 {
  background-color: rgb(23, 83, 50);
  color: antiquewhite;
  font-family: "Lucida Sans";
  font-size: 30px;
  border-radius: 3px;
  border-color: rgb(23, 83, 50);
  border: 0mm;
  padding: 35px;
  position: relative;
  left: 100px;
  top: 2px;

  cursor: pointer;
}

#question-btn-2 {
  background-color: rgb(47, 143, 103);
  color: antiquewhite;
  font-family: "Lucida Sans";
  font-size: 30px;
  border-radius: 3px;
  border-color: rgb(47, 143, 103);
  border: 0mm;
  padding: 35px;
  position: relative;
  right: -100px;
  top: 2px;

  cursor: pointer;
}

footer {
  float: none;
  margin-top: 150px;
  background-color: rgb(23, 83, 50);
  padding: 2px;
  color: white;
}
